@use "../../../styles/abstracts/variables" as var;
#nav {
  background-color: #fff;
  padding-inline: 15px;
  padding-block: 15px;
  position: sticky;
  top: 0;
  z-index: 1;

  .container {
    max-width: var.$maxWidth;
    margin-inline: auto;
    display: grid;
    grid-template-areas: "navItems logo buttons";
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
}

.primaryNavItems {
  grid-area: navItems;

  display: flex;
  gap: 0.9em;
  align-items: center;

  li {
    position: relative;
  }

  .menu {
    line-height: 0.8;

    button {
      // border: 1px solid #f4f4f4;
      // padding: 3px;
      border-radius: 6px;
      transition: background 250ms ease;

      svg {
        font-size: 2em;
      }

      &:hover {
        background: #f4f4f4;
      }
    }
  }
}

.navItems {
  font-weight: 600;
  line-height: 1.2;

  .subNavWrapper {
    position: absolute;
    top: 15px;
    left: 0;
    padding-top: 15px;
  }

  .subNavItems {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #f4f4f4;
    border-radius: 6px;
    // width: max-content;
    min-width: 150px;
    overflow: hidden;
    padding: 0;

    a {
      font-size: 0.9rem;
      display: block;
      padding: 10px;
      font-weight: 500;

      &:hover {
        background-color: #f4f4f4;
      }
    }
  }
}

.logo {
  grid-area: logo;

  a {
    width: fit-content;
    display: block;
    margin-inline: auto;
  }

  img {
    margin-inline: auto;
  }
}

.btns {
  grid-area: buttons;
  justify-self: end;
}

@media screen and (min-width: 551px) and (max-width: 830px) {
  #nav .container {
    grid-template-areas:
      "logo navItems navItems"
      "logo buttons buttons";
    grid-template-rows: 2fr;
    row-gap: 0.5em;

    .primaryNavItems {
      justify-self: end;
      flex-direction: row-reverse;
    }
  }
}

@media screen and (max-width: 550px) {
  #nav .container {
    grid-template-areas: "logo navItems";
    grid-template-columns: repeat(2, 1fr);

    .primaryNavItems {
      justify-self: flex-end;
    }
  }
  .navItems,
  .btns {
    display: none;
  }
}
