@use "../../../styles/abstracts/variables" as var;
#nav {
  background-color: #fff;
  padding-inline: 15px;
  padding-block: 15px;

  .container {
    max-width: var.$maxWidth;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.primaryNavItems {
  flex: 1;
  display: flex;
  gap: 0.9em;
  align-items: center;

  li {
    line-height: 1.2;
  }

  .menu {
    // background: #f4f4f4;
    border: 1px solid #f4f4f4;
    padding: 3px;
    border-radius: 6px;

    svg {
      font-size: 2em;
    }
  }
}

.logo {
  flex: 2;

  img {
    margin-inline: auto;
  }
}

.btns {
  flex: 1;
}
